@use "../styles/common" as *;
@use "sass:color";
@mixin size($size) {
  height: $size;
  line-height: $size;

  &:has(.icon) {
    padding-right: calc($size/1.5);
  }

  &:has(.after) {
    padding-left: calc($size/1.5);
  }

  &:has(.icon_button) {
    width: $size;
    height: $size;
    padding: 0 !important;
    line-height: 0 !important;
  }
}
.icon_button {
  // line-height: 0 !important;
  margin: 0 auto;
}

.button {
  font-size: $font-size-16;
  border-radius: 56px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-weight: 300;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

//size
.s {
  @include size(32px);
  padding: 0 16px;
}
.m {
  @include size(40px);
  padding: 0 24px;
}
.l {
  @include size(48px);
  padding: 0 24px;
}
.xl {
  @include size(56px);
  padding: 0 32px;
}

//type
.primary {
  background-color: $dark-90;
  color: white;
  &:hover {
    background-color: color.scale($dark-90, $lightness: 10%);
  }
}
.secondary {
  background-color: $dark-10;
  color: $dark-90;
  &:hover {
    background-color: color.scale($dark-10, $blackness: 10%);
    color: color.scale($dark-90, $lightness: 10%);
  }
}
.additional {
  background-color: white;
  border: 1px solid $dark-10;
  color: $dark-90;
  &:hover {
    border-color: color.scale($dark-10, $lightness: 50%);
    color: color.scale($dark-90, $lightness: 50%);
  }
}

.icon {
  margin-right: 8px;
  // opacity: 0.5;
  margin-top: -4px;
}
.after {
  margin-left: 8px;
}
