@use "../../styles/common" as *;

.search_container {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;

  &__input {
    // flex-grow: 1;
    width: 100%;
  }
}
.search_icon {
  position: absolute;
  left: 16px;
}
.input {
  padding-left: 3rem;
}
.search_mobile__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search_mobile__container__close {
  margin-left: 0.5rem;
}
