@use "./variables" as *;

@mixin row-fill {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin column-fill {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@mixin row {
  display: flex;
  align-items: center;
}
@mixin row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin list-item-hover {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;

  [data-theme="light"] & {
    background: $list-hover-bg-light;
  }
  [data-theme="dark"] & {
    background: $list-hover-bg-dark;
  }
}

@mixin base-background {
  [data-theme="light"] & {
    background-color: $dark-10;
  }
  [data-theme="dark"] & {
    background: $dark-70;
  }
}

@mixin border {
  [data-theme="light"] & {
    border-color: $dark-5;
  }
  [data-theme="dark"] & {
    border-color: rgba($dark-70, 0.3);
  }
}
