@use "../../styles/common" as *;

.accounts_list {
  @include border;

  &__action_button {
  }
}
.accounts_list__item {
  @include row-fill;
  padding: 1.5rem 0;
  cursor: pointer;

  &:hover {
    @include list-item-hover;
  }

  &__container {
    @include row;
  }

  &__checkbox {
    margin-right: 1rem;
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__name {
    font-weight: 600;
  }

  &__amount {
  }
}
.accounts_list {
  // border-top: 1px solid;
  padding-bottom: 1.5rem;
}
