@use "../../common" as *;

.accounts_list {
  [data-theme="light"] & {
    border-color: $dark-10;
  }
  [data-theme="dark"] & {
    border-color: rgba($dark-70, 0.3);
  }

  &__action_button {
  }
}
.accounts_list__item {
  @include row-fill;
  padding: 1.5rem 0;
  cursor: pointer;

  &:hover {
    background: rgba($dark-90, 0.2);
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
  }

  &__container {
    @include row;
  }

  &__checkbox {
    margin-right: 1rem;
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__name {
    font-weight: 600;
  }

  &__amount {
  }
}
.accounts_list {
  border-top: 1px solid;
  padding: 1rem 0;
}
