@use "../../styles/common" as *;

.analytics {
  display: none;

  &__container {
    @include column-fill;
    height: 100%;
  }

  &__header {
    @include row-fill;
  }

  &__chart {
    padding: 1rem 0;
    flex-grow: 1;
  }

  // visible on desktop
  @media (min-width: 1280px) {
    display: block !important;
    max-width: 400px;
  }
}
