@use "../../styles/common" as *;

.header {
  @include row-fill;
  // height: 3rem;
  text-wrap: nowrap;
  font-size: $font-size-24;
  margin-bottom: 1rem;

  ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
  }

  li {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: inherit;
      // height: $font-size-56;
      // display: block;
    }
  }
}

.mobile_menu {
  &__close {
    padding: 1.5rem;
    opacity: 0.3;
  }

  &__backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    top: 0;
    left: 0;
  }

  &__list {
    position: absolute;
    z-index: 30;
    border-radius: $border-radius;
    top: -1rem;
    width: auto;
    left: -320px;

    [data-theme="light"] & {
      color: $dark-90;
    }
    [data-theme="dark"] & {
      color: $dark-5;
    }

    &__item {
      padding: 1rem 0;
      [data-theme="light"] & {
        color: $dark-40;
      }
      [data-theme="dark"] & {
        color: $dark-70;
      }
      & > a {
        text-decoration: none;
        padding: 1rem 1rem;

        &.active {
          [data-theme="light"] & {
            color: $dark-90;
          }
          [data-theme="dark"] & {
            color: $dark-10;
          }
        }

        &:hover {
          // opacity: 0.6;
        }
      }
    }
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__burger {
    @include row-center;
    width: $ui-element-size;
    aspect-ratio: 1/1;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
    z-index: 30;
  }
}
.desktop_menu {
  display: none; //default

  &__container {
    @include row-fill;
  }

  &__menu_item {
    [data-theme="light"] & {
      color: $dark-40;
    }
    [data-theme="dark"] & {
      color: $dark-70;
    }

    .active {
      [data-theme="light"] & {
        color: $dark-90;
      }
      [data-theme="dark"] & {
        color: $dark-10;
      }
    }
  }
}

.menu_opened,
.menu_closed {
  // transform-origin: top;
  // transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  // overflow: hidden;
}

.menu_opened {
  // transform: scaleY(1);
  opacity: 1;
}

.menu_closed {
  // transform: scaleY(0);
  opacity: 0;
}
.user_controls {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  & > div {
    width: $ui-element-size;
    aspect-ratio: 1/1;
  }

  .user_button .button {
    padding: 0;
  }
}

.side_menu_open,
.side_menu_close {
  transition: 0.3s ease-in-out;
}
.side_menu_open {
  transform: translateX(320px);
}
.side_menu_close {
  transform: translateX(0);
}
.theme_switcher {
  width: $ui-element-size;
  aspect-ratio: 1/1;
}
