@use "../common" as *;

.account_container {
  padding-top: 24px;
}

.account_actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.account_info {
  &_container {
    // padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_label {
    font-size: 16px;
    color: $text-grey;
  }
  &_amount {
    font-size: 56px;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    letter-spacing: 4px;

    &_symbol {
      font-size: 48px;
      font-weight: 400;
      color: $text-grey;
      margin-right: 16px;
    }
  }
}
.credit_cards_container {
  display: flex;
  align-items: center;
  max-width: 436px;

  overflow: hidden;
  height: 220px;
  //   gap: 16px;
  //   padding: 16px;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;

  &::after {
    content: "";
    height: 200px;
    position: absolute;
    width: 60px;
    right: 0;
    background: linear-gradient(90deg, #ffffff58 0%, #ffffff 95%);
    z-index: 0;
  }
  &::before {
    content: "";
    height: 200px;
    position: absolute;
    width: 60px;
    left: 0;
    z-index: 1;
    background: linear-gradient(-90deg, #ffffff58 0%, #ffffff 95%);
  }
}
.cards {
  display: flex;
  align-items: center;
  //   padding: 16px;
  //   gap: 16px;
  transition: 0.25s ease-in-out;
  margin-left: -8px;
  & > div {
    margin: 0 8px;
  }
}
.slider_buttons {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-left: -56px;
  button {
    width: 48px;
    height: 48px;
    line-height: 16px;
    border-radius: 48px;
    background-color: white;
    color: $black;
    border: 1px solid $light-gray;

    &:first-child {
      position: absolute;
      left: 0;
      top: -24px;
    }
    &:last-child {
      position: absolute;
      right: 24px;
      top: -24px;
    }
  }
}
