@use "../common" as *;
@use "sass:color";
@mixin size($size) {
  height: $size;
  line-height: $size;

  &:has(.icon) {
    padding-right: $size;
  }
}

.button {
  font-size: 18px;
  border-radius: 56px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-weight: 300;
  transition: 0.2s ease-in-out;
}

//size
.s {
  @include size(32px);
  padding: 0 24px;
}
.m {
  @include size(40px);
  padding: 0 24px;
}
.l {
  @include size(48px);
  padding: 0 32px;
}
.xl {
  @include size(56px);
  padding: 0 40px;
}

//type
.primary {
  background-color: $black;
  color: white;
  &:hover {
    background-color: color.scale($black, $lightness: 10%);
  }
}
.secondary {
  background-color: $light-gray;
  color: $black;
  &:hover {
    background-color: color.scale($light-gray, $blackness: 10%);
    color: color.scale($black, $lightness: 10%);
  }
}
.additional {
  background-color: white;
  border: 1px solid $black;
  color: $black;
  &:hover {
    border-color: color.scale($black, $lightness: 50%);
    color: color.scale($black, $lightness: 50%);
  }
}
.icon {
  margin-right: 16px;
}
