$black: #272727;
$light-gray: #f0f1f4;
$gray-3: #d5d5de;
// $gray-1: #f0f1f4;
$gray-2: #f0f1f4;
$border-radius: 16px;
$text-grey: #808187;
// $text-grey-2: #7E7E7E;
$text-green: #00a452;
$bg-green: rgba(0, 255, 128, 0.2);
