@use "common" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: $gray-2;
}

.wrapper {
  max-width: 1416px;
  // min-height: 1416px;
  width: 1416px;
  margin: 48px auto;
  padding-bottom: 48px;
}

nav {
  height: 56px;
  text-wrap: nowrap;
  line-height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style-type: none;
  }
  li {
    height: 56px;
    line-height: 56px;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: inherit;
      height: 56px;
      display: block;
    }
    .active {
      border-bottom: 2px solid $black;
    }
  }
}
.user_avatar {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-repeat: no-repeat;
  background-size: cover;
}
.notification_button {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: white;
  border: none;
  line-height: 16px;
  position: relative;
  &::after {
    display: block;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #ff4d00;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 100%;
  }
}
.user_button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
.sub_header {
  font-size: 40px;
  margin-top: 32px;
  height: 80px;
}
.accounts_container,
.transactions_shortlist,
.expense_graph_container,
.promo_section_slider {
  background-color: white;
  border-radius: $border-radius;
  height: fit-content;
}
.accounts_container {
  padding: 24px;
}
